.featureCard:hover .featureCardBox {
  background-image: url("./assets/features-wave.svg");
  background-position: bottom 1rem right;
  background-repeat: no-repeat;
}

.moveImage {
  animation: moveimg 30s infinite linear;
}

@keyframes moveimg {
  0% {
    top: 0;
  }

  100% {
    top: -170%;
  }
}
